@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Alert */
.alert {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  color: #ff0000;
  position: absolute;
  inset-block-end: -3rem;
  inset-inline-start: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
  position: relative;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Header */
.header {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
}

.header div {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

/* Image */
.header-image {
  width: 60px;
  fill: #c94b4b;
}

/* Headings */
.header-heading,
.header-subheading {
  background: linear-gradient(to right, #c94b4b, #4b134f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header-heading {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.header-subheading {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

/* Form */
.header-form {
  margin-block-start: 8rem;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  position: relative;
}
@media (min-width: 1024px) {
  .header-form {
    width: 50%;
  }
}

/* Inputs */
.input-search,
.btn-search {
  height: inherit;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}

.input-search {
  padding-inline: 1rem;
  outline: none;
  width: 85%;
  color: #4b134f;
  border: 2px solid #4b134f;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .input-search {
    width: 80%;
  }
}

.input-search::placeholder {
  color: #808080;
}

.input-search:active {
  background-color: #f2f2f2;
}

/* Button */
.btn-search {
  width: 15%;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  background-color: #4b134f;
}
@media (min-width: 768px) {
  .btn-search {
    width: 20%;
  }
}

.btn-search svg {
  width: 30px;
  fill: #ffffff;
}
@media (min-width: 768px) {
  .btn-search svg {
    width: 25px;
  }
}

.btn-search span {
  color: #ffffff;
  display: none;
}
@media (min-width: 768px) {
  .btn-search span {
    display: block;
  }
}

.pagination-container {
  margin-block: 3rem 2rem;
  padding-inline: 2rem;
  width: 100%;
  background-color: transparent;
}

.pagination {
  display: flex;
  column-gap: 0.5rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
.pagination::-webkit-scrollbar {
  height: 7px;
}
.pagination::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #808080;
}

.page-number-container {
  margin-block-end: 0.5rem;
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-number {
  padding-block: 0.5rem;
  width: 100%;
  height: inherit;
  text-align: center;
  font-size: 1.6rem;
  color: #4b134f;
}
@media (min-width: 1024px) {
  .page-number:hover {
    color: #ffffff;
    background-color: #4b134f;
    transition: 0.2s ease-in-out;
  }
}

/* Grid Gallery */
.grid-gallery {
  margin-block-end: 8rem;
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
@media (min-width: 580px) {
  .grid-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Card */
.card-container {
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
@media (min-width: 1024px) {
  .card-container {
    height: 300px;
    border: none;
    position: relative;
  }
  .card-container:hover {
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.2);
  }
  .card-container:hover .card-image {
    filter: brightness(60%);
    transition: 0.4s ease;
  }
  .card-container:hover .card-info {
    display: flex;
  }
}

.card-image {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
@media (min-width: 1024px) {
  .card-image {
    height: inherit;
    border-radius: 5px;
  }
}

.card-info {
  padding: 1rem;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 5px 5px;
}
@media (min-width: 1024px) {
  .card-info {
    display: none;
    position: absolute;
    inset-block-end: 0;
  }
}

.card-user-info,
.card-likes-info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.user-image-container,
.likes-image {
  width: 22px;
}

.user-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.likes-image {
  fill: #ff0000;
}
@media (min-width: 1024px) {
  .likes-image {
    fill: #ffffff;
  }
}

.user-text,
.likes-text {
  font-size: 1.4rem;
  color: #000000;
}
@media (min-width: 1024px) {
  .user-text,
.likes-text {
    color: #ffffff;
  }
}

.card-container,
.close-btn:hover {
  cursor: pointer;
}

/* Modal */
.modal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}
@media (min-width: 580px) {
  .modal {
    width: 500px;
  }
}
@media (min-width: 768px) {
  .modal {
    width: 700px;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .modal {
    width: 900px;
  }
}

.modal-figure {
  width: 100%;
  height: 220px;
  border-radius: 8px 8px 0 0;
}
@media (min-width: 768px) {
  .modal-figure {
    width: 50%;
    height: 500px;
    border-radius: 8px 0 0 8px;
  }
}
@media (min-width: 1024px) {
  .modal-figure {
    width: 60%;
  }
}

.modal-image {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .modal-image {
    border-radius: 8px 0 0 8px;
  }
}

.modal-user-info {
  width: 100%;
  font-family: Helvetica, sans-serif;
  padding: 1.5rem;
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .modal-user-info {
    width: 50%;
    height: 500px;
    border-radius: 0 8px 8px 0;
  }
}
@media (min-width: 1024px) {
  .modal-user-info {
    width: 40%;
  }
}

.modal-user-info-firstBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.modal-user-info-firstBlock div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.2rem;
  color: #000000;
}

.modal-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.modal-user-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.modal-user-userName {
  font-size: 1.2rem;
  color: #808080;
}

.modal-user-info-secondBlock,
.modal-user-info-thirdBlock,
.modal-user-info-fourthBlock {
  margin-block-start: 3rem;
}
.modal-user-info-secondBlock span,
.modal-user-info-thirdBlock span,
.modal-user-info-fourthBlock span {
  font-size: 1.3rem;
  color: #808080;
}

.modal-user-bio,
.modal-user-location {
  font-size: 1.5rem;
  line-height: 1.4;
}

.modal-user-bio,
.modal-user-info-thirdBlock > div,
.modal-user-moreContainer {
  margin-block-start: 0.6rem;
}

.modal-user-info-thirdBlock div {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.modal-user-iconLocation {
  width: 12px;
  fill: #000000;
}

.modal-user-moreContainer {
  display: flex;
  column-gap: 5rem;
}

.modal-user-moreItem {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.modal-user-moreItem .modal-user-moreIcon {
  width: 18px;
  fill: #000000;
}
.modal-user-moreItem .modal-user-moreText {
  font-size: 1.5rem;
  color: #000000;
}

/* Spinner */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner .bounce1,
.spinner .bounce2,
.spinner .bounce3 {
  background-color: #4b134f;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*# sourceMappingURL=styles.css.map */
