@use '../../base/variables' as var;
@use '../../base/mixins' as mix;

/* Modal */
.modal-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   position: absolute;
   inset-block: 0;
   inset-inline: 0;
   background-color: rgba(0, 0, 0, 0.7);
}

.modal {
   width: 350px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: fixed;

   @include mix.cellphone-size {
      width: 500px;
   }

   @include mix.tablet-size {
      width: 700px;
      flex-direction: row;
   }

   @include mix.laptop-size {
      width: 900px;
   }
}

.modal-figure {
   width: 100%;
   height: 220px;
   border-radius: 8px 8px 0 0;
   
   @include mix.tablet-size {
      width: 50%;
      height: 500px;
      border-radius: 8px 0 0 8px;
   }

   @include mix.laptop-size {
      width: 60%;
   }
}

.modal-image {
   border-radius: 8px 8px 0 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   
   @include mix.tablet-size {
      border-radius: 8px 0 0 8px;
   }
}

.modal-user-info {
   width: 100%;
   font-family: Helvetica, sans-serif;
   padding: 1.5rem;
   border-radius: 0 0 8px 8px;
   background-color: var.$white-color;
   
   @include mix.tablet-size {
      width: 50%;
      height: 500px;
      border-radius: 0 8px 8px 0;
   }

   @include mix.laptop-size {
      width: 40%;
   }
}

.modal-user-info-firstBlock {
   display: flex;
   align-items: center;
   gap: 1rem;

   div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 0.2rem;
      color: var.$black-color;
   }
}

.modal-user-image {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.modal-user-name {
   font-size: 1.5rem;
   font-weight: 500;
}

.modal-user-userName {
   font-size: 1.2rem;
   color: var.$gray-color;
}

.modal-user-info-secondBlock,
.modal-user-info-thirdBlock,
.modal-user-info-fourthBlock {
   margin-block-start: 3rem;
   
   span {
      font-size: 1.3rem;
      color: var.$gray-color;
   }
}

.modal-user-bio,
.modal-user-location {
   font-size: 1.5rem;
   line-height: 1.4;
}

.modal-user-bio,
.modal-user-info-thirdBlock > div,
.modal-user-moreContainer {
   margin-block-start: 0.6rem;
}

.modal-user-info-thirdBlock {
   div {
      display: flex;
      align-items: center;
      column-gap: 0.4rem;
   }
}

.modal-user-iconLocation {
   width: 12px;
   fill: var.$black-color;
}

.modal-user-moreContainer {
   display: flex;
   column-gap: 5rem;
}

.modal-user-moreItem {
   display: flex;
   align-items: center;
   column-gap: 0.5rem;
   
   .modal-user-moreIcon {
      width: 18px;
      fill: var.$black-color;
   }

   .modal-user-moreText {
      font-size: 1.5rem;
      color: var.$black-color;
   }
}
