@use '../base/variables' as var;

/* Container */
.container {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Alert */
.alert {
   padding: 0.5rem 1rem;
   font-size: 1.4rem;
   color: var.$red-color;
   position: absolute;
   inset-block-end: -3rem;
   inset-inline-start: 0;
}
