//Fonts
$font-family: 'Montserrat', sans-serif;

// Colors
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #808080;
$orange-color: #c94b4b;
$purple-color: #4b134f;
$red-color: #ff0000;
$light-gray-color: #f2f2f2;

// Devices screen sizes
$cellphone-size: 580px;
$tablet-size: 768px;
$laptop-size: 1024px;
$desktop-size: 1200px;
